[user]
    name = kotamya

[filter "nbstripout"]
    clean = \"$HOME/Anaconda3/python.exe\" -m nbstripout
    smudge = cat
    required = true

[diff "ipynb"]
    textconf = $HOME/.local/bin/nbstripout -t
    textconv = \"$HOME/Anaconda3/python.exe\" -m nbstripout -t
